@(message: String)

<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
    <div class="payment-info">
        <form method="post" name="paymentForm" id="paymentForm" action="@routes.HomeController.doLogin()">
            <div class="tab-for">
                <h5>ENTER AMOUNT</h5>
                <input type="text" value="" name="amount" id="amount" required>
                <h5>NAME ON CARD</h5>
                <input type="text" value="" name="name" id="name">
                <h5>CARD NUMBER</h5>
                <input class="pay-logo" type="text" value="" name="cardNo" id="cardNo" placeholder="0000-0000-0000-0000"  required="">
            </div>
            <div class="transaction">
                <div class="tab-form-left user-form">
                    <h5>EXPIRATION</h5>
                    <ul>
                        <li>
                            <input type="number" class="text_box" type="text" value="6" name ="expM" id ="expM" min="1" />
                        </li>
                        <li>
                            <input type="number" class="text_box" type="text" value="1988" name ="expY" id ="expY" min="1" />
                        </li>

                    </ul>
                </div>
                <div class="tab-form-right user-form-rt">
                    <h5>CVV NUMBER</h5>
                    <input type="text" value="xxxx" name="cvvNo" id="cvvNo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'xxxx';}" required="">
                </div>
                <div class="clear"></div>
            </div>
            <input type="submit" value="SUBMIT">
        </form>
        <div class="single-bottom">
            <ul>
                <li>
                    <input type="checkbox"  id="brand" value="" name="terms" required >
                    <label for="brand"><span></span>By checking this box, I agree to the Terms & Conditions & Privacy Policy.</label>
                </li>
            </ul>
        </div>
    </div>
</div>