@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message) {
  <div class="sap_tabs">
   <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
    <div class="pay-tabs">
     @forms.paymentTabs(message)
    </div>
    <div class="resp-tabs-container">
     @forms.creditCardForm(message)
     @forms.netBankingForm(message)
     @forms.payPalForm(message)
     @forms.debitCardForm(message)
    </div>
   </div>
  </div>
}
